<div class="booking-form">
    <div class="booking-form__inner">
        <button class="booking-form__date">
            <%- include("../components/svgDate.ejs") -%>
            <span>Укажите дату и время</span>
        </button>
        <div class="booking-form__items">
            <div class="booking-form__item">
                <div class="booking-form__item-row">
                    <div class="booking-form__item-title">Место у окна</div>
                    <div class="booking-form__item-price">200 ₽/час</div>
                </div>
                <div class="booking-form__item-row">
                    <div class="booking-form__item-title">Количество</div>
                    <div class="booking-form__item-counter">
                        <%- include("../components/counter.ejs") -%>
                        <div class="booking-form__item-remove">
                            <%- include("../components/buttons/remove.ejs") -%>
                        </div>
                    </div>
                </div>
                <div class="booking-form__item-total">
                    <div class="booking-form__item-title">Итого</div>
                    <div
                        class="booking-form__item-price booking-form__item-price-total"
                        data-value="1000"
                    >
                        1 000 ₽
                    </div>
                </div>
            </div>
            <div class="booking-form__item">
                <div class="booking-form__item-row">
                    <div class="booking-form__item-title">Кабинеты с креслом</div>
                    <div class="booking-form__item-price">500 ₽/час</div>
                </div>
                <div class="booking-form__item-row">
                    <div class="booking-form__item-title">Количество</div>
                    <div class="booking-form__item-counter">
                        <%- include("../components/counter.ejs") -%>
                        <div class="booking-form__item-remove">
                            <%- include("../components/buttons/remove.ejs") -%>
                        </div>
                    </div>
                </div>
                <div class="booking-form__item-total">
                    <div class="booking-form__item-title">Итого</div>
                    <div
                        class="booking-form__item-price booking-form__item-price-total"
                        data-value="7500"
                    >
                        7 500 ₽
                    </div>
                </div>
            </div>
        </div>
        <div class="booking-form__bill">
            <div class="booking-form__bill-rows">
                <div class="booking-form__bill-row">
                    <div class="booking-form__bill-row-left">
                        <div class="booking-form__item-title">Место у окна -</div>
                        <div class="booking-form__item-number">&nbsp;1</div>
                    </div>
                    <div class="booking-form__bill-price">1 000 ₽</div>
                </div>
                <div class="booking-form__bill-row">
                    <div class="booking-form__bill-row-left">
                        <div class="booking-form__item-title">Кабинеты с креслом -</div>
                        <div class="booking-form__item-number">&nbsp;15</div>
                    </div>
                    <div class="booking-form__bill-price">7 500 ₽</div>
                </div>
                <div class="booking-form__bill-row">
                    <div class="booking-form__bill-row-left">
                        <div class="booking-form__item-title">Сбор за услуги Getdesk</div>
                    </div>
                    <div class="booking-form__bill-price">400 ₽</div>
                </div>
            </div>
            <div class="booking-form__item-total">
                <div class="booking-form__item-title">Итого</div>
                <div
                    class="booking-form__item-price booking-form__item-price-total"
                    data-value="7500"
                >
                    7 500 ₽
                </div>
            </div>
        </div>
        <button class="booking-form__btn btn btn--red">
            <span class="btn__name">Забронировать</span>
        </button>
    </div>
</div>
