<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <link rel="stylesheet" href="https://unpkg.com/swiper/swiper-bundle.min.css" />
        <link rel="stylesheet" href="public/css/search.min.css" />
        <title>Document</title>
    </head>
    <body>
        <div class="wrapper">
            <div class="overlay"></div>
            <%- include("blocks/header.ejs") -%>
            <div class="main">
                <div class="search">
                    <div class="search__map-block map-block">
                        <div class="search__map-nav map-nav container">
                            <button class="map-btn list-btn">
                                <svg
                                    class="map-btn__img"
                                    width="24"
                                    height="24"
                                    viewBox="0 0 24 24"
                                    fill="none"
                                    xmlns="http://www.w3.org/2000/svg"
                                >
                                    <path
                                        fill-rule="evenodd"
                                        clip-rule="evenodd"
                                        d="M15.7161 16.9738H8.49609C8.08209 16.9738 7.74609 16.6378 7.74609 16.2238C7.74609 15.8098 8.08209 15.4738 8.49609 15.4738H15.7161C16.1301 15.4738 16.4661 15.8098 16.4661 16.2238C16.4661 16.6378 16.1301 16.9738 15.7161 16.9738Z"
                                        fill="#ED4040"
                                    />
                                    <path
                                        fill-rule="evenodd"
                                        clip-rule="evenodd"
                                        d="M15.7161 12.7872H8.49609C8.08209 12.7872 7.74609 12.4512 7.74609 12.0372C7.74609 11.6232 8.08209 11.2872 8.49609 11.2872H15.7161C16.1301 11.2872 16.4661 11.6232 16.4661 12.0372C16.4661 12.4512 16.1301 12.7872 15.7161 12.7872Z"
                                        fill="#ED4040"
                                    />
                                    <path
                                        fill-rule="evenodd"
                                        clip-rule="evenodd"
                                        d="M11.2501 8.61047H8.49512C8.08112 8.61047 7.74512 8.27447 7.74512 7.86047C7.74512 7.44647 8.08112 7.11047 8.49512 7.11047H11.2501C11.6641 7.11047 12.0001 7.44647 12.0001 7.86047C12.0001 8.27447 11.6641 8.61047 11.2501 8.61047Z"
                                        fill="#ED4040"
                                    />
                                    <mask
                                        id="mask0_2171:2043"
                                        style="mask-type: alpha"
                                        maskUnits="userSpaceOnUse"
                                        x="3"
                                        y="2"
                                        width="19"
                                        height="20"
                                    >
                                        <path
                                            fill-rule="evenodd"
                                            clip-rule="evenodd"
                                            d="M3 2.00024H21.1647V21.91H3V2.00024Z"
                                            fill="white"
                                        />
                                    </mask>
                                    <g mask="url(#mask0_2171:2043)">
                                        <path
                                            fill-rule="evenodd"
                                            clip-rule="evenodd"
                                            d="M15.909 3.5L8.22 3.504C5.892 3.518 4.5 4.958 4.5 7.357V16.553C4.5 18.968 5.905 20.41 8.256 20.41L15.945 20.407C18.273 20.393 19.665 18.951 19.665 16.553V7.357C19.665 4.942 18.261 3.5 15.909 3.5ZM8.257 21.91C5.113 21.91 3 19.757 3 16.553V7.357C3 4.124 5.047 2.023 8.215 2.004L15.908 2H15.909C19.053 2 21.165 4.153 21.165 7.357V16.553C21.165 19.785 19.118 21.887 15.95 21.907L8.257 21.91Z"
                                            fill="#ED4040"
                                        />
                                    </g>
                                </svg>
                                <span class="map-btn__name">К списку объявлений</span>
                            </button>
                            <button class="map-btn filters-btn">
                                <svg
                                    class="map-btn__img"
                                    width="24"
                                    height="24"
                                    viewBox="0 0 24 24"
                                    fill="none"
                                    xmlns="http://www.w3.org/2000/svg"
                                >
                                    <mask
                                        id="mask0_2171:2071"
                                        style="mask-type: alpha"
                                        maskUnits="userSpaceOnUse"
                                        x="2"
                                        y="2"
                                        width="20"
                                        height="20"
                                    >
                                        <path
                                            fill-rule="evenodd"
                                            clip-rule="evenodd"
                                            d="M2 2H21.4996V21.5007H2V2Z"
                                            fill="white"
                                        />
                                    </mask>
                                    <g mask="url(#mask0_2171:2071)">
                                        <path
                                            fill-rule="evenodd"
                                            clip-rule="evenodd"
                                            d="M8.773 11.5988C8.791 11.6148 8.808 11.6298 8.825 11.6478C9.904 12.7538 10.499 14.2188 10.499 15.7738V19.7578L12.735 18.5398C12.911 18.4438 13.02 18.2558 13.02 18.0488V15.7618C13.02 14.2128 13.609 12.7528 14.678 11.6528L19.515 6.50776C19.828 6.17476 20 5.73776 20 5.27676V4.34076C20 3.87676 19.634 3.49976 19.186 3.49976H4.315C3.866 3.49976 3.5 3.87676 3.5 4.34076V5.27676C3.5 5.73776 3.672 6.17476 3.985 6.50676L8.773 11.5988ZM10.146 21.5008C9.944 21.5008 9.744 21.4468 9.562 21.3388C9.21 21.1288 8.999 20.7578 8.999 20.3458V15.7738C8.999 14.6388 8.576 13.5698 7.805 12.7508C7.782 12.7318 7.759 12.7108 7.739 12.6888L2.893 7.53576C2.317 6.92376 2 6.12076 2 5.27676V4.34076C2 3.04976 3.039 1.99976 4.315 1.99976H19.186C20.461 1.99976 21.5 3.04976 21.5 4.34076V5.27676C21.5 6.11976 21.183 6.92176 20.609 7.53476L15.762 12.6888C14.959 13.5168 14.52 14.6058 14.52 15.7618V18.0488C14.52 18.8048 14.111 19.4968 13.453 19.8568L10.692 21.3608C10.52 21.4538 10.333 21.5008 10.146 21.5008Z"
                                            fill="#ED4040"
                                        />
                                    </g>
                                </svg>
                                <span class="map-btn__name">Фильтры</span>
                            </button>
                        </div>
                        <div class="map">
                            <div style="position: relative; overflow: hidden">
                                <a
                                    href="https://yandex.ru/maps/213/moscow/?utm_medium=mapframe&utm_source=maps"
                                    style="
                                        color: #eee;
                                        font-size: 12px;
                                        position: absolute;
                                        top: 0px;
                                    "
                                    >Москва</a
                                ><a
                                    href="https://yandex.ru/maps/geo/moskva/53000094/?ll=37.620837%2C55.752339&utm_medium=mapframe&utm_source=maps&z=16.22"
                                    style="
                                        color: #eee;
                                        font-size: 12px;
                                        position: absolute;
                                        top: 14px;
                                    "
                                    >Москва — Яндекс.Карты</a
                                ><iframe
                                    src="https://yandex.ru/map-widget/v1/-/CCUiR6s38C"
                                    width="100%"
                                    height="100%"
                                    frameborder="0"
                                    allowfullscreen="true"
                                    style="position: relative"
                                ></iframe>
                            </div>
                        </div>
                    </div>
                    <div class="container">
                        <div class="search__content">
                            <div class="search__left">
                                <div class="search__title title">Аренда офиса: Москва</div>
                                <div class="search-filters">
                                    <div class="search-filters__btns">
                                        <div class="search-filters__btn">
                                            <button class="filter-btn" id="popup-price">
                                                <span>Цена</span>
                                            </button>
                                        </div>
                                        <div class="search-filters__btn">
                                            <button class="filter-btn" id="popup-props">
                                                <span>Характеристики офиса</span>
                                            </button>
                                        </div>
                                        <div class="search-filters__btn">
                                            <button class="filter-btn" id="popup-booking">
                                                <span>Мгновенное бронирование</span>
                                            </button>
                                        </div>
                                        <div class="search-filters__btn">
                                            <button class="filter-btn" id="popup-facilities">
                                                <span>Удобства</span>
                                            </button>
                                        </div>
                                    </div>
                                    <div
                                        class="search-filters__popup-price popup popup-price"
                                        id="popup-price"
                                    >
                                        <div class="popup-price__title">Цена</div>
                                        <div class="range-block">
                                            <div class="popup-price__range double-range">
                                                <input
                                                    class="popup-price__range-input range-input"
                                                    type="range"
                                                    min="0"
                                                    max="2000000"
                                                    value="0"
                                                    step="500"
                                                />
                                                <input
                                                    class="popup-price__range-input range-input"
                                                    type="range"
                                                    min="0"
                                                    max="2000000"
                                                    value="1000000"
                                                    step="500"
                                                />
                                            </div>
                                            <div class="popup-price__values">
                                                <div class="popup-price__value">
                                                    <p>от</p>
                                                    <div class="popup-price__value-start">
                                                        <span>0 ₽</span>
                                                    </div>
                                                </div>
                                                <div class="popup-price__value">
                                                    <p>до</p>
                                                    <div class="popup-price__value-end">
                                                        <span>1 000 000 ₽</span>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="popup-price__btns">
                                                <div class="clear-btn">
                                                    <svg
                                                        class="clear-btn__icon"
                                                        width="20"
                                                        height="20"
                                                        viewBox="0 0 20 20"
                                                        fill="none"
                                                        xmlns="http://www.w3.org/2000/svg"
                                                    >
                                                        <path
                                                            fill-rule="evenodd"
                                                            clip-rule="evenodd"
                                                            d="M7.60229 13.1367C7.41029 13.1367 7.21829 13.0637 7.07229 12.9167C6.77929 12.6237 6.77929 12.1497 7.07229 11.8567L11.8643 7.06472C12.1573 6.77172 12.6313 6.77172 12.9243 7.06472C13.2173 7.35772 13.2173 7.83172 12.9243 8.12472L8.13229 12.9167C7.98629 13.0637 7.79429 13.1367 7.60229 13.1367Z"
                                                            fill="#ED4040"
                                                        />
                                                        <path
                                                            fill-rule="evenodd"
                                                            clip-rule="evenodd"
                                                            d="M12.3963 13.1396C12.2043 13.1396 12.0123 13.0666 11.8663 12.9196L7.07034 8.12265C6.77734 7.82965 6.77734 7.35565 7.07034 7.06265C7.36434 6.76965 7.83834 6.76965 8.13034 7.06265L12.9263 11.8596C13.2193 12.1526 13.2193 12.6266 12.9263 12.9196C12.7803 13.0666 12.5873 13.1396 12.3963 13.1396Z"
                                                            fill="#ED4040"
                                                        />
                                                        <path
                                                            fill-rule="evenodd"
                                                            clip-rule="evenodd"
                                                            d="M5.665 1.5C3.135 1.5 1.5 3.233 1.5 5.916V14.084C1.5 16.767 3.135 18.5 5.665 18.5H14.333C16.864 18.5 18.5 16.767 18.5 14.084V5.916C18.5 3.233 16.864 1.5 14.334 1.5H5.665ZM14.333 20H5.665C2.276 20 0 17.622 0 14.084V5.916C0 2.378 2.276 0 5.665 0H14.334C17.723 0 20 2.378 20 5.916V14.084C20 17.622 17.723 20 14.333 20Z"
                                                            fill="#ED4040"
                                                        />
                                                    </svg>
                                                    <span>Очистить</span>
                                                </div>
                                                <button class="btn apply-btn btn--red">
                                                    <span class="btn__name">Применить</span>
                                                </button>
                                            </div>
                                        </div>
                                    </div>
                                    <div
                                        class="search-filters__popup-props popup popup-props"
                                        id="popup-props"
                                    >
                                        <div class="popup-props__title">
                                            Укажите нужные вам характеристики офиса.
                                        </div>
                                        <div class="popup-props__subtitle">
                                            В результатах будут показаны офисы, в которых есть все
                                            что вы отметили.
                                        </div>
                                        <div class="popup-props__items">
                                            <div class="popup-props__items-row">
                                                <div class="popup-props__item">
                                                    <div class="popup-props__item-name">
                                                        Рабочие места
                                                    </div>
                                                    <%- include("components/counter.ejs") -%>
                                                </div>
                                            </div>
                                            <div class="popup-props__items-row">
                                                <div class="popup-props__item">
                                                    <div class="popup-props__item-name">
                                                        Закрытые кабинеты
                                                    </div>
                                                    <%- include("components/counter.ejs") -%>
                                                </div>
                                                <div class="popup-props__item">
                                                    <div class="popup-props__item-name">
                                                        Сколько нужно мест
                                                    </div>
                                                    <%- include("components/counter.ejs") -%>
                                                </div>
                                            </div>
                                            <div class="popup-props__items-row">
                                                <div class="popup-props__item">
                                                    <div class="popup-props__item-name">
                                                        Переговорные комнаты
                                                    </div>
                                                    <%- include("components/counter.ejs") -%>
                                                </div>
                                                <div class="popup-props__item">
                                                    <div class="popup-props__item-name">
                                                        Сколько нужно мест
                                                    </div>
                                                    <%- include("components/counter.ejs") -%>
                                                </div>
                                            </div>
                                            <div class="popup-props__items-row">
                                                <div class="popup-props__item">
                                                    <div class="popup-props__item-name">
                                                        Конференц-залы
                                                    </div>
                                                    <%- include("components/counter.ejs") -%>
                                                </div>
                                                <div class="popup-props__item">
                                                    <div class="popup-props__item-name">
                                                        Сколько нужно мест
                                                    </div>
                                                    <%- include("components/counter.ejs") -%>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="popup-props__btns">
                                            <div class="clear-btn">
                                                <div class="clear-btn__icon">
                                                    <svg
                                                        width="20"
                                                        height="20"
                                                        viewBox="0 0 20 20"
                                                        fill="none"
                                                        xmlns="http://www.w3.org/2000/svg"
                                                    >
                                                        <path
                                                            fill-rule="evenodd"
                                                            clip-rule="evenodd"
                                                            d="M7.60229 13.1367C7.41029 13.1367 7.21829 13.0637 7.07229 12.9167C6.77929 12.6237 6.77929 12.1497 7.07229 11.8567L11.8643 7.06472C12.1573 6.77172 12.6313 6.77172 12.9243 7.06472C13.2173 7.35772 13.2173 7.83172 12.9243 8.12472L8.13229 12.9167C7.98629 13.0637 7.79429 13.1367 7.60229 13.1367Z"
                                                            fill="#ED4040"
                                                        />
                                                        <path
                                                            fill-rule="evenodd"
                                                            clip-rule="evenodd"
                                                            d="M12.3963 13.1396C12.2043 13.1396 12.0123 13.0666 11.8663 12.9196L7.07034 8.12265C6.77734 7.82965 6.77734 7.35565 7.07034 7.06265C7.36434 6.76965 7.83834 6.76965 8.13034 7.06265L12.9263 11.8596C13.2193 12.1526 13.2193 12.6266 12.9263 12.9196C12.7803 13.0666 12.5873 13.1396 12.3963 13.1396Z"
                                                            fill="#ED4040"
                                                        />
                                                        <path
                                                            fill-rule="evenodd"
                                                            clip-rule="evenodd"
                                                            d="M5.665 1.5C3.135 1.5 1.5 3.233 1.5 5.916V14.084C1.5 16.767 3.135 18.5 5.665 18.5H14.333C16.864 18.5 18.5 16.767 18.5 14.084V5.916C18.5 3.233 16.864 1.5 14.334 1.5H5.665ZM14.333 20H5.665C2.276 20 0 17.622 0 14.084V5.916C0 2.378 2.276 0 5.665 0H14.334C17.723 0 20 2.378 20 5.916V14.084C20 17.622 17.723 20 14.333 20Z"
                                                            fill="#ED4040"
                                                        />
                                                    </svg>
                                                </div>
                                                <span>Очистить</span>
                                            </div>
                                            <button
                                                class="
                                                    search-filters__apply-btn
                                                    apply-btn
                                                    btn btn--red
                                                "
                                            >
                                                <span class="btn__name">Применить</span>
                                            </button>
                                        </div>
                                    </div>
                                    <div
                                        class="search-filters__popup-booking popup popup-booking"
                                        id="popup-booking"
                                    >
                                        <div class="popup-booking__title">
                                            Мгновенное бронирование
                                        </div>
                                        <div class="popup-booking__toggle">
                                            <div class="popup-booking__subtitle">
                                                Показать только те пространства, где доступно
                                                бронирование без подтверждения
                                            </div>
                                            <input
                                                class="popup-booking__switch-btn switch-btn"
                                                type="checkbox"
                                            />
                                        </div>
                                    </div>
                                    <div
                                        class="
                                            search-filters__popup-facilities
                                            popup popup-facilities
                                        "
                                        id="popup-facilities"
                                    >
                                        <div class="popup-facilities__items">
                                            <div class="popup-facilities__item">
                                                <div class="popup-facilities__item-title">
                                                    Общие удобства
                                                </div>
                                                <div class="popup-facilities__tags tags">
                                                    <div
                                                        class="
                                                            popup-facilities__tags-left
                                                            tags__left
                                                        "
                                                    >
                                                        <div class="tags__item">
                                                            <input
                                                                class="checkbox"
                                                                type="checkbox"
                                                                id="wifi-tag"
                                                            />
                                                            <label for="wifi-tag"></label>
                                                            <span class="tags__item-name"
                                                                >Высокоскоростной WiFi</span
                                                            >
                                                        </div>
                                                        <div class="tags__item">
                                                            <input
                                                                class="checkbox"
                                                                type="checkbox"
                                                                id="open-tag"
                                                            />
                                                            <label for="open-tag"></label>
                                                            <span class="tags__item-name"
                                                                >Открыто круглосуточно</span
                                                            >
                                                        </div>
                                                        <div class="tags__item">
                                                            <input
                                                                class="checkbox"
                                                                type="checkbox"
                                                                id="guests-tag"
                                                            />
                                                            <label for="guests-tag"></label>
                                                            <span class="tags__item-name"
                                                                >Встреча гостей/секретарь</span
                                                            >
                                                        </div>
                                                    </div>
                                                    <div class="tags__right">
                                                        <div class="tags__item">
                                                            <input
                                                                class="checkbox"
                                                                type="checkbox"
                                                                id="coffe-tag"
                                                            />
                                                            <label for="coffe-tag"></label>
                                                            <span class="tags__item-name"
                                                                >Кофемашина</span
                                                            >
                                                        </div>
                                                        <div class="tags__item">
                                                            <input
                                                                class="checkbox"
                                                                type="checkbox"
                                                                id="chart-tag"
                                                            />
                                                            <label for="chart-tag"></label>
                                                            <span class="tags__item-name"
                                                                >Флипчарт</span
                                                            >
                                                        </div>
                                                        <div class="tags__item">
                                                            <input
                                                                class="checkbox"
                                                                type="checkbox"
                                                                id="office-tag"
                                                            />
                                                            <label for="office-tag"></label>
                                                            <span class="tags__item-name"
                                                                >Канцелярские принадлежности</span
                                                            >
                                                        </div>
                                                    </div>
                                                </div>
                                                <button class="show-more-btn">
                                                    <span>Показать еще</span>
                                                    <svg
                                                        width="16"
                                                        height="10"
                                                        viewBox="0 0 16 10"
                                                        fill="none"
                                                        xmlns="http://www.w3.org/2000/svg"
                                                    >
                                                        <path
                                                            d="M15 1.5L8 8.5L1 1.5"
                                                            stroke="#717171"
                                                            stroke-width="1.5"
                                                            stroke-linecap="round"
                                                            stroke-linejoin="round"
                                                        />
                                                    </svg>
                                                </button>
                                            </div>
                                            <div class="popup-facilities__item">
                                                <div class="popup-facilities__item-title">
                                                    Удобства переговорных комнат
                                                </div>
                                                <div class="popup-facilities__tags tags">
                                                    <div
                                                        class="
                                                            popup-facilities__tags-left
                                                            tags__left
                                                        "
                                                    >
                                                        <div class="tags__item">
                                                            <input
                                                                class="checkbox"
                                                                type="checkbox"
                                                                id="equip-tag"
                                                            />
                                                            <label for="equip-tag"></label>
                                                            <span class="tags__item-name"
                                                                >Оборудование для видеоконференции
                                                            </span>
                                                        </div>
                                                        <div class="tags__item">
                                                            <input
                                                                class="checkbox"
                                                                type="checkbox"
                                                                id="tv-tag"
                                                            />
                                                            <label for="tv-tag"></label>
                                                            <span class="tags__item-name">TV</span>
                                                        </div>
                                                    </div>
                                                    <div class="tags__right">
                                                        <div class="tags__item">
                                                            <input
                                                                class="checkbox"
                                                                type="checkbox"
                                                                id="projector-tag"
                                                            />
                                                            <label for="projector-tag"></label>
                                                            <span class="tags__item-name"
                                                                >Проектор</span
                                                            >
                                                        </div>
                                                        <div class="tags__item">
                                                            <input
                                                                class="checkbox"
                                                                type="checkbox"
                                                                id="apple-tag"
                                                            />
                                                            <label for="apple-tag"></label>
                                                            <span class="tags__item-name"
                                                                >Apple TV</span
                                                            >
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="popup-facilities__item">
                                                <div class="popup-facilities__item-title">
                                                    Оборудование
                                                </div>
                                                <div class="popup-facilities__tags tags">
                                                    <div
                                                        class="
                                                            popup-facilities__tags-left
                                                            tags__left
                                                        "
                                                    >
                                                        <div class="tags__item">
                                                            <input
                                                                class="checkbox"
                                                                type="checkbox"
                                                                id="pc-tag"
                                                            />
                                                            <label for="pc-tag"></label>
                                                            <span class="tags__item-name"
                                                                >Есть ПК</span
                                                            >
                                                        </div>
                                                        <div class="tags__item">
                                                            <input
                                                                class="checkbox"
                                                                type="checkbox"
                                                                id="micro-tag"
                                                            />
                                                            <label for="micro-tag"></label>
                                                            <span class="tags__item-name"
                                                                >Микрофон</span
                                                            >
                                                        </div>
                                                        <div class="tags__item">
                                                            <input
                                                                class="checkbox"
                                                                type="checkbox"
                                                                id="light-tag"
                                                            />
                                                            <label for="light-tag"></label>
                                                            <span class="tags__item-name">
                                                                Профессиональное световое
                                                                оборудование
                                                            </span>
                                                        </div>
                                                    </div>
                                                    <div class="tags__right">
                                                        <div class="tags__item">
                                                            <input
                                                                class="checkbox"
                                                                type="checkbox"
                                                                id="printer-tag"
                                                            />
                                                            <label for="printer-tag"></label>
                                                            <span class="tags__item-name"
                                                                >Принтер
                                                            </span>
                                                        </div>
                                                        <div class="tags__item">
                                                            <input
                                                                class="checkbox"
                                                                type="checkbox"
                                                                id="scan-tag"
                                                            />
                                                            <label for="scan-tag"></label>
                                                            <span class="tags__item-name"
                                                                >Сканер</span
                                                            >
                                                        </div>
                                                        <div class="tags__item">
                                                            <input
                                                                class="checkbox"
                                                                type="checkbox"
                                                                id="copy-tag"
                                                            />
                                                            <label for="copy-tag"></label>
                                                            <span class="tags__item-name"
                                                                >Фотокопировальный аппарат</span
                                                            >
                                                        </div>
                                                    </div>
                                                </div>
                                                <button class="show-more-btn">
                                                    <span>Показать еще</span>
                                                    <svg
                                                        width="16"
                                                        height="10"
                                                        viewBox="0 0 16 10"
                                                        fill="none"
                                                        xmlns="http://www.w3.org/2000/svg"
                                                    >
                                                        <path
                                                            d="M15 1.5L8 8.5L1 1.5"
                                                            stroke="#717171"
                                                            stroke-width="1.5"
                                                            stroke-linecap="round"
                                                            stroke-linejoin="round"
                                                        />
                                                    </svg>
                                                </button>
                                            </div>
                                        </div>
                                        <div class="popup-facilities__btns">
                                            <div class="clear-btn">
                                                <div class="clear-btn__icon">
                                                    <svg
                                                        width="20"
                                                        height="20"
                                                        viewBox="0 0 20 20"
                                                        fill="none"
                                                        xmlns="http://www.w3.org/2000/svg"
                                                    >
                                                        <path
                                                            fill-rule="evenodd"
                                                            clip-rule="evenodd"
                                                            d="M7.60229 13.1367C7.41029 13.1367 7.21829 13.0637 7.07229 12.9167C6.77929 12.6237 6.77929 12.1497 7.07229 11.8567L11.8643 7.06472C12.1573 6.77172 12.6313 6.77172 12.9243 7.06472C13.2173 7.35772 13.2173 7.83172 12.9243 8.12472L8.13229 12.9167C7.98629 13.0637 7.79429 13.1367 7.60229 13.1367Z"
                                                            fill="#ED4040"
                                                        />
                                                        <path
                                                            fill-rule="evenodd"
                                                            clip-rule="evenodd"
                                                            d="M12.3963 13.1396C12.2043 13.1396 12.0123 13.0666 11.8663 12.9196L7.07034 8.12265C6.77734 7.82965 6.77734 7.35565 7.07034 7.06265C7.36434 6.76965 7.83834 6.76965 8.13034 7.06265L12.9263 11.8596C13.2193 12.1526 13.2193 12.6266 12.9263 12.9196C12.7803 13.0666 12.5873 13.1396 12.3963 13.1396Z"
                                                            fill="#ED4040"
                                                        />
                                                        <path
                                                            fill-rule="evenodd"
                                                            clip-rule="evenodd"
                                                            d="M5.665 1.5C3.135 1.5 1.5 3.233 1.5 5.916V14.084C1.5 16.767 3.135 18.5 5.665 18.5H14.333C16.864 18.5 18.5 16.767 18.5 14.084V5.916C18.5 3.233 16.864 1.5 14.334 1.5H5.665ZM14.333 20H5.665C2.276 20 0 17.622 0 14.084V5.916C0 2.378 2.276 0 5.665 0H14.334C17.723 0 20 2.378 20 5.916V14.084C20 17.622 17.723 20 14.333 20Z"
                                                            fill="#ED4040"
                                                        />
                                                    </svg>
                                                </div>
                                                <span>Очистить</span>
                                            </div>
                                            <button
                                                class="
                                                    search-filters__apply-btn
                                                    apply-btn
                                                    btn btn--red
                                                "
                                            >
                                                <span class="btn__name">Применить</span>
                                            </button>
                                        </div>
                                    </div>
                                </div>
                                <div class="search__items">
                                    <div class="search-item">
                                        <div class="search-item__slider">
                                            <%- include("components/officeSlider.ejs") -%>
                                        </div>
                                        <div class="search-item__info">
                                            <div class="search-item__header">
                                                <div class="search-item__header-name">
                                                    <div class="search-item__title">
                                                        Офис на Орловской
                                                    </div>
                                                    <div class="search-item__type">Офис</div>
                                                </div>
                                                <div class="search-item__rate">
                                                    <div class="search-item__favorite">
                                                        <button
                                                            class="
                                                                btn--round btn--shadow
                                                                favorite-btn
                                                            "
                                                        >
                                                            <svg
                                                                width="18"
                                                                height="17"
                                                                viewBox="0 0 18 17"
                                                                fill="transparent"
                                                                xmlns="http://www.w3.org/2000/svg"
                                                            >
                                                                <path
                                                                    d="M8.53368 3.55539L9 4.76088L9.46632 3.55539C10.0587 2.02416 11.7427 0.875 13.5 0.875C15.7687 0.875 17.5 2.58497 17.5 4.875C17.5 6.44572 16.6613 7.89043 15.0808 9.64833C14.1493 10.6844 13.009 11.7799 11.6943 13.0429C10.863 13.8416 9.96195 14.7073 9 15.6671C8.03805 14.7073 7.13702 13.8416 6.30568 13.0429C4.99104 11.7799 3.85066 10.6844 2.91919 9.64833C1.3387 7.89043 0.5 6.44572 0.5 4.875C0.5 2.58497 2.23131 0.875 4.5 0.875C6.25546 0.875 7.94138 2.02426 8.53368 3.55539Z"
                                                                    stroke="#ED4040"
                                                                />
                                                            </svg>
                                                        </button>
                                                    </div>

                                                    <div class="rate__value">5.0</div>
                                                </div>
                                            </div>

                                            <div class="search-item__tags">
                                                <div class="search-item__tag">
                                                    <span>Высокоскоростной WiFi</span>
                                                </div>
                                                <div class="search-item__tag">
                                                    <span>Открыто круглосуточно</span>
                                                </div>
                                                <div class="search-item__tag">
                                                    <span>Встреча гостей/секретарь</span>
                                                </div>
                                                <div class="search-item__tag">
                                                    <span>Кофемашина</span>
                                                </div>
                                            </div>
                                            <div class="search-item__numbers">
                                                <div class="search-item__properties">
                                                    <div
                                                        class="
                                                            search-item__property
                                                            search-item__property-places
                                                        "
                                                    >
                                                        80 мест
                                                    </div>
                                                    <div
                                                        class="
                                                            search-item__property
                                                            search-item__property-square
                                                        "
                                                    >
                                                        355 м²
                                                    </div>
                                                </div>
                                                <div class="search-item__price">1 300 ₽/сут</div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="search-item">
                                        <div class="search-item__slider">
                                            <%- include("components/officeSlider.ejs") -%>
                                        </div>
                                        <div class="search-item__info">
                                            <div class="search-item__header">
                                                <div class="search-item__header-name">
                                                    <div class="search-item__title">
                                                        Офис на этаже БЦ Васильевский
                                                    </div>
                                                    <div class="search-item__type">
                                                        Переговорная комната
                                                    </div>
                                                </div>
                                                <div class="search-item__rate">
                                                    <div class="search-item__favorite">
                                                        <button
                                                            class="
                                                                btn--round btn--shadow
                                                                favorite-btn
                                                            "
                                                        >
                                                            <svg
                                                                width="18"
                                                                height="17"
                                                                viewBox="0 0 18 17"
                                                                fill="transparent"
                                                                xmlns="http://www.w3.org/2000/svg"
                                                            >
                                                                <path
                                                                    d="M8.53368 3.55539L9 4.76088L9.46632 3.55539C10.0587 2.02416 11.7427 0.875 13.5 0.875C15.7687 0.875 17.5 2.58497 17.5 4.875C17.5 6.44572 16.6613 7.89043 15.0808 9.64833C14.1493 10.6844 13.009 11.7799 11.6943 13.0429C10.863 13.8416 9.96195 14.7073 9 15.6671C8.03805 14.7073 7.13702 13.8416 6.30568 13.0429C4.99104 11.7799 3.85066 10.6844 2.91919 9.64833C1.3387 7.89043 0.5 6.44572 0.5 4.875C0.5 2.58497 2.23131 0.875 4.5 0.875C6.25546 0.875 7.94138 2.02426 8.53368 3.55539Z"
                                                                    stroke="#ED4040"
                                                                />
                                                            </svg>
                                                        </button>
                                                    </div>

                                                    <div class="rate__value">4.9</div>
                                                </div>
                                            </div>

                                            <div class="search-item__tags">
                                                <div class="search-item__tag">
                                                    <span>Высокоскоростной WiFi</span>
                                                </div>
                                                <div class="search-item__tag">
                                                    <span>Открыто круглосуточно</span>
                                                </div>
                                                <div class="search-item__tag">
                                                    <span>Встреча гостей/секретарь</span>
                                                </div>
                                                <div class="search-item__tag">
                                                    <span>Кофемашина</span>
                                                </div>
                                            </div>
                                            <div class="search-item__numbers">
                                                <div class="search-item__properties">
                                                    <div
                                                        class="
                                                            search-item__property
                                                            search-item__property-places
                                                        "
                                                    >
                                                        80 мест
                                                    </div>
                                                    <div
                                                        class="
                                                            search-item__property
                                                            search-item__property-square
                                                        "
                                                    >
                                                        355 м²
                                                    </div>
                                                </div>
                                                <div class="search-item__price">2 500 ₽/сут</div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="search-item">
                                        <div class="search-item__slider">
                                            <%- include("components/officeSlider.ejs") -%>
                                        </div>
                                        <div class="search-item__info">
                                            <div class="search-item__header">
                                                <div class="search-item__header-name">
                                                    <div class="search-item__title">
                                                        Зал для переговоров
                                                    </div>
                                                    <div class="search-item__type">
                                                        Конференц зал
                                                    </div>
                                                </div>
                                                <div class="search-item__rate">
                                                    <div class="search-item__favorite">
                                                        <button
                                                            class="
                                                                btn--round btn--shadow
                                                                favorite-btn
                                                            "
                                                        >
                                                            <svg
                                                                width="18"
                                                                height="17"
                                                                viewBox="0 0 18 17"
                                                                fill="transparent"
                                                                xmlns="http://www.w3.org/2000/svg"
                                                            >
                                                                <path
                                                                    d="M8.53368 3.55539L9 4.76088L9.46632 3.55539C10.0587 2.02416 11.7427 0.875 13.5 0.875C15.7687 0.875 17.5 2.58497 17.5 4.875C17.5 6.44572 16.6613 7.89043 15.0808 9.64833C14.1493 10.6844 13.009 11.7799 11.6943 13.0429C10.863 13.8416 9.96195 14.7073 9 15.6671C8.03805 14.7073 7.13702 13.8416 6.30568 13.0429C4.99104 11.7799 3.85066 10.6844 2.91919 9.64833C1.3387 7.89043 0.5 6.44572 0.5 4.875C0.5 2.58497 2.23131 0.875 4.5 0.875C6.25546 0.875 7.94138 2.02426 8.53368 3.55539Z"
                                                                    stroke="#ED4040"
                                                                />
                                                            </svg>
                                                        </button>
                                                    </div>

                                                    <div class="rate__value">4.3</div>
                                                </div>
                                            </div>

                                            <div class="search-item__tags">
                                                <div class="search-item__tag">
                                                    <span>Высокоскоростной WiFi</span>
                                                </div>
                                                <div class="search-item__tag">
                                                    <span>Открыто круглосуточно</span>
                                                </div>
                                                <div class="search-item__tag">
                                                    <span>Встреча гостей/секретарь</span>
                                                </div>
                                                <div class="search-item__tag">
                                                    <span>Кофемашина</span>
                                                </div>
                                            </div>
                                            <div class="search-item__numbers">
                                                <div class="search-item__properties">
                                                    <div
                                                        class="
                                                            search-item__property
                                                            search-item__property-places
                                                        "
                                                    >
                                                        80 мест
                                                    </div>
                                                    <div
                                                        class="
                                                            search-item__property
                                                            search-item__property-square
                                                        "
                                                    >
                                                        355 м²
                                                    </div>
                                                </div>
                                                <div class="search-item__price">5 500 ₽/сут</div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="search-item">
                                        <div class="search-item__slider">
                                            <%- include("components/officeSlider.ejs") -%>
                                        </div>
                                        <div class="search-item__info">
                                            <div class="search-item__header">
                                                <div class="search-item__header-name">
                                                    <div class="search-item__title">
                                                        Офис на Орловской
                                                    </div>
                                                    <div class="search-item__type">Офис</div>
                                                </div>
                                                <div class="search-item__rate">
                                                    <div class="search-item__favorite">
                                                        <button
                                                            class="
                                                                btn--round btn--shadow
                                                                favorite-btn
                                                            "
                                                        >
                                                            <svg
                                                                width="18"
                                                                height="17"
                                                                viewBox="0 0 18 17"
                                                                fill="transparent"
                                                                xmlns="http://www.w3.org/2000/svg"
                                                            >
                                                                <path
                                                                    d="M8.53368 3.55539L9 4.76088L9.46632 3.55539C10.0587 2.02416 11.7427 0.875 13.5 0.875C15.7687 0.875 17.5 2.58497 17.5 4.875C17.5 6.44572 16.6613 7.89043 15.0808 9.64833C14.1493 10.6844 13.009 11.7799 11.6943 13.0429C10.863 13.8416 9.96195 14.7073 9 15.6671C8.03805 14.7073 7.13702 13.8416 6.30568 13.0429C4.99104 11.7799 3.85066 10.6844 2.91919 9.64833C1.3387 7.89043 0.5 6.44572 0.5 4.875C0.5 2.58497 2.23131 0.875 4.5 0.875C6.25546 0.875 7.94138 2.02426 8.53368 3.55539Z"
                                                                    stroke="#ED4040"
                                                                />
                                                            </svg>
                                                        </button>
                                                    </div>
                                                    <div class="rate__value">5.0</div>
                                                </div>
                                            </div>

                                            <div class="search-item__tags">
                                                <div class="search-item__tag">
                                                    <span>Высокоскоростной WiFi</span>
                                                </div>
                                                <div class="search-item__tag">
                                                    <span>Открыто круглосуточно</span>
                                                </div>
                                                <div class="search-item__tag">
                                                    <span>Встреча гостей/секретарь</span>
                                                </div>
                                                <div class="search-item__tag">
                                                    <span>Кофемашина</span>
                                                </div>
                                            </div>
                                            <div class="search-item__numbers">
                                                <div class="search-item__properties">
                                                    <div
                                                        class="
                                                            search-item__property
                                                            search-item__property-places
                                                        "
                                                    >
                                                        80 мест
                                                    </div>
                                                    <div
                                                        class="
                                                            search-item__property
                                                            search-item__property-square
                                                        "
                                                    >
                                                        355 м²
                                                    </div>
                                                </div>
                                                <div class="search-item__price">1 300 ₽/сут</div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <button class="btn btn--red search__map-show__btn">
                                <svg
                                    width="24"
                                    height="24"
                                    viewBox="0 0 24 24"
                                    fill="none"
                                    xmlns="http://www.w3.org/2000/svg"
                                >
                                    <path
                                        fill-rule="evenodd"
                                        clip-rule="evenodd"
                                        d="M22.75 13.9549H1.75C1.336 13.9549 1 13.6189 1 13.2049C1 12.7909 1.336 12.4549 1.75 12.4549H22.75C23.164 12.4549 23.5 12.7909 23.5 13.2049C23.5 13.6189 23.164 13.9549 22.75 13.9549Z"
                                        fill="white"
                                    />
                                    <path
                                        fill-rule="evenodd"
                                        clip-rule="evenodd"
                                        d="M20.8804 9.745C20.4664 9.745 20.1304 9.409 20.1304 8.995V7.481C20.1304 5.838 18.7924 4.5 17.1474 4.5H15.9424C15.5284 4.5 15.1924 4.164 15.1924 3.75C15.1924 3.336 15.5284 3 15.9424 3H17.1474C19.6194 3 21.6304 5.011 21.6304 7.481V8.995C21.6304 9.409 21.2944 9.745 20.8804 9.745Z"
                                        fill="white"
                                    />
                                    <path
                                        fill-rule="evenodd"
                                        clip-rule="evenodd"
                                        d="M3.62012 9.745C3.20612 9.745 2.87012 9.409 2.87012 8.995V7.481C2.87012 5.011 4.88112 3 7.35312 3H8.58912C9.00312 3 9.33912 3.336 9.33912 3.75C9.33912 4.164 9.00312 4.5 8.58912 4.5H7.35312C5.70812 4.5 4.37012 5.838 4.37012 7.481V8.995C4.37012 9.409 4.03412 9.745 3.62012 9.745Z"
                                        fill="white"
                                    />
                                    <path
                                        fill-rule="evenodd"
                                        clip-rule="evenodd"
                                        d="M17.1474 21.7606H15.9424C15.5284 21.7606 15.1924 21.4246 15.1924 21.0106C15.1924 20.5966 15.5284 20.2606 15.9424 20.2606H17.1474C18.7924 20.2606 20.1304 18.9226 20.1304 17.2786V13.2036C20.1304 12.7896 20.4664 12.4536 20.8804 12.4536C21.2944 12.4536 21.6304 12.7896 21.6304 13.2036V17.2786C21.6304 19.7496 19.6194 21.7606 17.1474 21.7606Z"
                                        fill="white"
                                    />
                                    <path
                                        fill-rule="evenodd"
                                        clip-rule="evenodd"
                                        d="M8.58912 21.7606H7.35312C4.88112 21.7606 2.87012 19.7496 2.87012 17.2786V13.2036C2.87012 12.7896 3.20612 12.4536 3.62012 12.4536C4.03412 12.4536 4.37012 12.7896 4.37012 13.2036V17.2786C4.37012 18.9226 5.70812 20.2606 7.35312 20.2606H8.58912C9.00312 20.2606 9.33912 20.5966 9.33912 21.0106C9.33912 21.4246 9.00312 21.7606 8.58912 21.7606Z"
                                        fill="white"
                                    />
                                </svg>
                                <span class="btn__name">Развернуть карту</span>
                            </button>
                        </div>
                    </div>
                </div>
            </div>
            <%- include("blocks/footer.ejs") -%>
        </div>
        <script type="module" src="public/js/bundle.js"></script>
    </body>
</html>
